@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Roboto.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotomedium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/Robotobold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

.black {
  background: #000;
  color: #fff; }

.container {
  max-width: 360px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh; }

.enter-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 46px; }
  .enter-block .enter-block__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    padding-top: 46px;
    padding-bottom: 40px; }
  .enter-block input {
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    width: 100%;
    max-width: 300px;
    background: none;
    height: 40px;
    color: #fff;
    padding: 0 20px; }
  .enter-block input:focus {
    outline: none; }
  .enter-block .enter-block__user {
    margin-bottom: 40px; }
  .enter-block .enter-block__password {
    margin-bottom: 30px; }
  .enter-block .enter-block__button {
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    color: #000;
    width: 100%;
    max-width: 300px;
    height: 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: Acrom;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase; }
